@media print {
    @page {
      size: A4;
      margin: 0;
      padding: 0;
      page-break-inside: avoid;
    }

    
    .hidden-print{
        display: none !important;
    }

    .form {
        position: absolute;
        scale: 1.3;
        top: 12rem;
        border: none !important;
        margin-left: -12.7rem;
        page-break-inside: avoid;
    }

    .table{ 
        width: 8.5in !important;
        border: none !important;
    }
    .imageLogo{
        margin-top: -6.95rem;
        scale: 0.96;
        width: 110px !important;
        height: 110px !important;
        margin-left: 0.5rem !important;
    }
    .header-cor-4{
        scale: 1.1;
        letter-spacing: 3px;
    }
    .ProfilePicture{
        scale: 0.9;
        margin-top: -4rem;
        margin-left: 2rem;
    }
    .row-1{
        display: none;
    }

    .tbody{
        border: solid 2px black;
        max-height: 85%;
    }

    .table-data{
        border-style: solid;
        border-width: 2px;
        border-color: black;
        background-color: gray !important;
    }

    .head-border{
        border: none !important;
    }

    .register-num{
        text-align: start;
    }

    .code-header{
        max-width: 2rem !important;
        border: solid 2px black !important;
    }
  }
